.shared__button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--text-color);
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
  background: none;
  margin: 10px 0;
  font-weight: bold;

  &:hover {
    color: var(--text-color);
    background: var(--hover-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--hover-color), 0 0 25px var(--hover-color),
      0 0 50px var(--hover-color), 0 0 100px var(--hover-color);
  }
  & span {
    position: absolute;
    display: block;
  }
  & span:nth-child(1) {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--hover-color));
    animation: btn_anim1 1s linear infinite;
  }
  @keyframes btn_anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  & span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 40px;
    background: linear-gradient(180deg, transparent, var(--hover-color));
    animation: btn_anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes btn_anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }

  & span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--hover-color));
    animation: btn_anim3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes btn_anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  & span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--hover-color));
    animation: btn_anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes btn_anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
}
