.register__form {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  & div {
    width: 100%;
    margin-bottom: 20px;
  }

  &--box {
    width: 380px;
    margin: 0 auto;
    height: 100%;
    background-color: var(--bgc-color);
    border-radius: 10px;
    box-shadow: 0 15px 25px var(--bgc-color);
  }
  &--link {
    color: var(--hover-color);
    &-span {
      text-align: center;
      color: var(--text-color);
      margin: 20px 0;
    }
  }
}
.register--input__box:first-child {
  margin-top: 40px;
}
