.completed {
  color: black;
  text-decoration: line-through;
}

.task--list {
  display: block;
  width: 1000px;
  margin: 0 auto;
  color: var(--text-color);
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    width: 200px;
  }
  &__text {
    width: 400px;
  }
  &__date {
    font-weight: bold;
  }
}
