.books--list {
  max-width: 900px;
  margin: 0 auto;

  &__item {
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--text-color);
    justify-content: space-between;
  }

  &__name {
    padding-right: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  &__link {
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    color: aquamarine;
    &:hover {
      color: var(--hover-color);
    }
  }
}
.completed {
  color: black;
  text-decoration: line-through;
}
